body {
    margin: 0;
}
main {
    margin: 0;
    padding: 2vw 20vw;
    background-color: $color__white;
    line-height: 3vw;
}
header {
    width: 100%;
    margin: 0;
    padding: 2vw 0 0 0; 
    background-color: $color__black;
    display: block;
    .logo {
        text-align: center;
        margin: 0 auto;
        padding: 1vw 10vw;
    }
    li {
        list-style: none;
        display: inline-block;
        padding: 1vw 2vw 1vw 2vw;
        a {
            text-decoration: none;
        }
        &:hover {
            background-color: lighten($color__red, 15%);
        }
    }
    nav {
        background-color: $color__red;
        width: 100%;
        padding: 0 10vw;
        ul {
            margin: 0;
            padding: 0;
        }
        .menu-link {
            color: $color__white;
            font-family: $font__heading;
            font-size: 1.5vw;
        }
    }
  
}
.countdown {
    text-align: center;
    font-size: 3vw;
}
.documentary {
    padding: 1vw;
}
iframe {
    display: block;
    margin: 0 auto;
}
footer { 
    width: 100%;
    margin: 0;
    padding: 1vw 10vw 1vw 10vw; 
    background-color: $color__black;
    nav ul {
        margin: 0;
        padding: 0;
    }
    li {
        list-style: none;
        padding: 1.5vw 0;
    }
    a {
        text-decoration: none;
    }
    .menu-link {
        color: $color__white;
        font-family: $font__main;
        float: right;
        font-size: 1.5vw;   
        &:hover {
            color: $color__red;
        }
    }
}

.container {
    position: relative;
    width: 100%;
    border: 1px solid $color__red;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: rgba($color__gold, .75);
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    width: 100%;
    left: 0;
  }
  
  .text {
    color: darken($color__blue, 40%);
    text-shadow: 1px 1px 2px $color__white;
    font-weight: bold;
    font-family: $font__heading;
    font-size: 1.5vw;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
  }
  .discography {
    column-count: 2;
    padding: 3vw 0;
  }
  .space {
    padding: 0 0 1vw 0;
  }
