body {
    font-family: $font__main;
    color: $color__black;
}
h1, h2 {
    font-family: $font__heading;
    color: $color__red;
    margin: 0;
}
h1 { font-weight: 200; }
h2 { font-weight: 800; }
h1 { font-size: 4vw; }
h2 { font-size: 2.5vw; }
h3 { font-size: 2.1vw; }
p { font-size: 2vw; }

.mkelly {
    color: $color__blue;
    font-size: 1vw;
    a {
        color: lighten($color__blue, 25%);
        &:hover {
            color: $color__red;
        }
    }
}