<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/hmp0cfn.css">
</head>
<body>
    <header>
        <a href="#main"><img class="logo" src="../img/Bon_Jovi_-_Logo.png"></a>
        {% include 'nav.html'%}
    </header>
    <main>
        {{ content | safe }}
    </main>
    <footer>
        {% include 'nav.html'%}
        <p class="mkelly">Created by <a href="https://mkelly.art/">Michelle Kelly</a></p>
    </footer>
    
    {% if hasjs %}
        <script src='/js/script.js'></script>
    {% endif %}
</body>
</html>